*{
 box-sizing: border-box;
}
body{
  font-family: Arial,sans-serif;
}
.maravillas{
  display: flex;
  background-color:rgb(231, 236, 149);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

}
.maravillas img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}
img{
  width: 250px;
  height: auto;
}
#logos {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
footer {
  background-color: #000;
  color: #d4d4d4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#colegio {
  width: 33%;
  background-color: red;
  padding: 5px;
}
#colegio a {
  color: #d4d4d4;
}
#alumno {
  width: 33%;
  background-color: yellow;
  color: #aaa;
  padding: 5px;
}
#alumno a {
  color: #aaa;
}
#sociales {
  width: 33%;
  background-color: lightblue;
  padding: 5px;
}
#sociales img {
  width: 45px;
}

#sub-titulo{
  color: rgb(70, 145, 70);
}