body{
  font-family: Arial,sans-serif;
}
.maravillas{
  display: flex;
  background-color:rgb(231, 236, 149);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

}
.maravillas img{
  width: 300px;
  height: 200px;
  object-fit: contain;
  
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}
img{
  width: 250px;
  height: auto;
}
.cristo{
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px;
}

.contenido img {

  width: 450px;
  height: auto;
}

.texto-cristo{
  flex: 1;
}

.texto-cristo h2 {
  font-size: 30px;
}

.texto-cristo p {
  font-size: 20px;
  line-height: 1.6;
}